.button {
    display: inline-block;
    padding: 0.35em 0.8em;
    background-color: #ffffff;
    border: 0.15em solid #ff5219;
    font-size: 18px;
    text-decoration: none;
    border-radius: 0.3em;
    color: #ff5219;
    transition: all 0.2s;
    margin: 5px;
  }
  
  .button:hover{
    color: #ffffff;
    background-color: #ff5219;
  }
  
  .select{
    background-color: #ffffff;
    font-size: 18px;
    padding: 0.25em;
    border-radius: 0.3em;
    margin: 5px;
    border: 0.15em solid #ff5219;
    color: #ff5219;
  }

  .cityError {
    background-color: red;
    margin: auto;
    color: white;
    padding: 0.35em 0.8em;
    border-radius: 0.3em;
    width: 70%;
    margin-bottom: 20px;
    font-size: 18px;
  }

  @media(min-width: 500px){
      .select, .button {
          font-size: 15px;
      }
  }