* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,82,25);
  background: linear-gradient(142deg, rgba(255,82,25,1) 0%, rgba(255,200,0,1) 100%);  
  color: white;
  height: 100vh;
}

.App {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
  border-radius: 20px;
  padding: 0.8em;
  margin-top: 1em;
  color: #ff5219;
  width: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(min-width: 500px) {
    .App {
      width: 40%;
    }   
}



