* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,82,25);
  background: linear-gradient(142deg, rgba(255,82,25,1) 0%, rgba(255,200,0,1) 100%);  
  color: white;
  height: 100vh;
}

.App {
  background-color: rgb(255, 255, 255);
  width: 60vh;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  padding: 0.8em;
  margin-top: 1em;
  color: #ff5219
}

.cityError {
  background-color: red;
  margin: auto;
  color: white;
  padding: 0.35em 0.8em;
  border-radius: 0.3em;
  width: 70%;
  margin-bottom: 20px;
}

.actualPosition, .weatherCity, .temperature {
  font-size: 18px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 0.35em 0.8em;
  background-color: #ffffff;
  border: 0.15em solid #ff5219;
  text-decoration: none;
  border-radius: 0.3em;
  color: #ff5219;
  transition: all 0.2s;
  margin: 5px;
}

.button:hover{
  color: #ffffff;
  background-color: #ff5219;
}

.select{
  background-color: #ffffff;
  font-size: 14px;
  padding: 0.25em;
  border-radius: 0.3em;
  margin: 5px;
  border: 0.15em solid #ff5219;
  color: #ff5219;
}

.weather {
  width: 80%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



